div {

  img, svg {
    max-width: 200px;
    max-height: 200px;
  }
}

.svgFill path {
  fill: red;
}

.icon-svg {
  width: 200px;
  height: 200px;
  background-image: url('../images/svg.svg');
  background-color: blue;
}
